@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------Scrollbar------------------- */

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(82, 38, 130, 0.3);
  border-radius: 100vh;
  border: 0px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* -------------------Scrollbar------------------- */

 #twitter-widget-0 {

  width: 700px !important;
}


.l-21 {
  line-height: 21.09px;
}

.h-87 {
  height: 87px;
}

.max-w-300 {
  max-width: 300px;
}

.cerceve {
  width: 270px;
  height: 390px;
  margin: 23px 20.6px 21px 23px;
}

.image-overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.127273) 0%,
    #000000 85.42%
  );
}

.youtube {
  height: 200px;
}

@media (min-width: 640px) {
  /*sm*/
  .youtube {
    height: 500px;
  }
}
@media (min-width: 768px) {
  /*md*/
  .cerceve {
    width: 389px;
    height: 563px;
    margin: 23px 20.6px 21px 23px;
  }

  .icerik {
    height: 471px;
  }
}
@media (min-width: 1024px) {
  /*lg*/
}
@media (min-width: 1280px) {
  /*xl*/
}
@media (min-width: 1536px) {
  /*2xl*/
}

.masonry {
  column-count: 1;
  column-gap: 2rem;
}

@screen md {
  .masonry {
    column-count: 2;
  }
}

@screen lg {
  .masonry {
    column-count: 3;
  }
}

@screen xl {
  .masonry {
    column-count: 3;
  }
}

@screen 2xl {
  .masonry {
    column-count: 4;
  }
}
